{
  "type": "setting",
  "settings": {
    "editor.defaultFormatter": null,
    "[javascript]": {
      "editor.defaultFormatter": null
    },
    "[typescript]": {
      "editor.defaultFormatter": null
    }
  }
}